
html, body {
    height: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #2DCC70 70%, #333333);
}


.navbar{
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 120px;

}
.nav-links{
  list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 0;
    padding: 0;
    
    
    
}
.nav-links a{
    
    color: #fff;
  text-decoration: none;
  font-size: 15px;
  
    
    
}
.nav-links a:hover {
    text-decoration: none;
}
.logo{
  display: flex;
    align-items: center;   
    margin: 0;
    font-size: 32px;
    font-weight: 650;
    color: #fff;
    text-shadow: 0 0 15px rgba(0,0,0,0.8);
}
.nav-links a.join-btn{
    color:  #2DCC70;
    border: 2px solid #fff;
    padding: 6px 14px;
    border-radius: 30px;
    background-color: #fff;

}
.nav-links a:not(.join-btn) {
    text-shadow: 0 0 5px rgb(0, 0, 0);
}
.container{
    height: 40%;
    background-image: url("./images/group-fitess.jpg");
    background-size: cover;
    background-position: center;
}
