
html, body {
    height: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(65, 212, 65) 70%, rgb(61, 67, 62));
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 60px;
}
.nav-links{
     list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
}
.nav-links a{
    
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links a:hover {
    text-decoration: underline;
}
.logo{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}