*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


div{
    border: 1px solid #000  ;
}

.background-container {
    
    width: 50%;
    height: 50%;
    border-radius: 40%;
}

